{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle habitations{% endblock %}

{% block body %}
    <h1>Créer une nouvelle habitations</h1>

    {{ include('habitat/_form.html.twig') }}

    <a href="{{ path('app_habitat_index') }}">Retour à la liste </a>
{% endblock %}
