{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

   <form method="post" action="{{ path('app_login') }}">
  {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email :</label>
    <input type="email" class="form-control"id="email" name="_username" value="{{ last_username }}" required autofocus>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Se connecter</button>
</form>
{% endblock %}
