{% extends 'admin/base.html.twig' %}

{% block title %}Détails du service{% endblock %}

{% block body %}
    <h1>Détails du service</h1>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <td>{{ service.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ service.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ service.description }}</td>
        </tr>
    </table>
    <a href="{{ path('service_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
