<!-- templates/avis/index.html.twig -->
{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Avis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avis in avis %}
            <tr>
                <td>{{ avis.username }}</td>
                <td>{{ avis.content }}</td>
                <td>
                    {% if not avis.validated %}
                        <form method="post" action="{{ path('avis_validate', {'id': avis.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir valider cet avis ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ avis.id) }}">
                            <button class="btn btn-success">Valider</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
