@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background: linear-gradient(to right, #E4E1D0, #D8D4C4);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a.logo img {
    width: 60px;
    height: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #3498db;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0;
    background: linear-gradient(to right, #E4E1D0, #C4BEA5);
}

.presentation-text {
    width: 50%;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.presentation-image {
    width: 50%;
    position: relative;
}

.presentation-image img {
    width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.presentation h1 {
    font-size: 46px;
    font-weight: 800; /* Extra bold */
    color: #1A202C;
}

.presentation p {
    font-size: 16px;
    font-weight: 500; /* Medium */
    color: #1A202C;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #1A202C;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
}

.sections, .services, .animals, .testimonials {
    padding: 20px 0;
}

.service-list, .animal-carousel, .testimonial-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service, .animal, .testimonial {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.service img, .animal img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin-top: 40px;
    border-top: 1px solid #e7e7e7;
}

footer p {
    margin: 0;
}
