@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h2 {
    display: flex;
    justify-content: center;
}

header {
    background: linear-gradient(to right, #E4E1D0, #D8D4C4);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a.logo img {
    width: 100px;
    height: 100px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #3498db;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0;
    background: linear-gradient(to right, #E4E1D0, #C4BEA5);
    flex-wrap: wrap;
}

.presentation-text {
    width: 100%;
    max-width: 600px;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.presentation-image {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}

.presentation-image img {
    width: 100%;
    height: auto;
    border-radius: 8px 0 0 0;
}

.presentation h1 {
    font-size: 46px;
    font-weight: 800;
    color: #1A202C;
}

.presentation p {
    font-size: 16px;
    font-weight: 500;
    color: #1A202C;
}

.btn-primary {
    background-color: white !important;
    color: black !important;
    border: none !important;
    border-radius: 2em !important;
}

.btn-secondary {
    background-color: #E4E1D0 !important;
    color: black !important;
    border: none !important;
    border-radius: 2em !important;
}

.button:hover {
    background-color: #333;
}

.sections,
.services,
.animals,
.testimonials {
    padding: 20px 0;
}

.service-list,
.animal-carousel,
.testimonial-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service,
.animal,
.testimonial {
    flex: 1 1 calc(33.333% - 40px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service img,
.animal img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.animals {
    background: linear-gradient(to right, #E4E1D0, #C4BEA5);
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #E4E1D0, #D8D4C4);
    color: black;
    margin-top: 40px;
    border-top: 1px solid #e7e7e7;
    font-size: 20px;
}

footer p {
    margin: 0;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #3498db;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .presentation {
        flex-direction: column;
    }

    .presentation-text,
    .presentation-image {
        width: 100%;
    }

    .service,
    .animal,
    .testimonial {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .service,
    .animal,
    .testimonial {
        flex: 1 1 100%;
    }
}
